@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Current>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Cariler Sayfası</h2>

<table class=" table table-bordered">
    <tr>
        <th>ID</th>
        <th>CARİ ADI</th>
        <th>CARİ SOYADI</th>
        <th>İL</th>
        <th>MAİL</th>
        <th>GÜNCELLE</th>
        <th>SİL</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.CurrentId
    </td>
    <td>
        @item.CurrentName
    </td>
    <td>
        @item.CurrentSurname
    </td>
    <td>
        @item.CurrentProvince
    </td>
    <td>
        @item.CurrentMail
    </td>
    <td>
        <a href="/Current/GetCurrent/@item.CurrentId" class="btn btn-success">Güncelle</a>
    </td>
    <td>
        <a href="/Current/DeleteCurrent/@item.CurrentId" class="btn btn-danger">Sil</a>
    </td>
    <td>
        <a href="/Current/ClientSale/@item.CurrentId" class="btn btn-secondary">Detaylar</a>
    </td>
</tr>
    }

</table>
<a href="/Current/AddCurrent" class="btn btn-primary">Yeni Cari Ekle</a>


